{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
        <form method="post" action="index.html">
            {% csrf_token %}
            
            <div class="box">
                <h1>Ingresar</h1>
                <input type="text" name="username" value="username" />
                <input type="password" name="password" value="password"  />
                <a href="{% url 'login' %}"><div class="btn">Sign In</div></a>
                <a href="{% url 'registro' %}"><div id="btn2">Sign Up</div></a>
            </div>          
        </form>
        
        <p>Forgot your password? <u style="color:#f1c40f;">Click Here!</u></p>
        <a href="{% url 'social:begin' 'facebook' %}">Inicia con Facebook</a>
        
<fb:login-button 
scope="public_profile,email"
onlogin="checkLoginState();">
</fb:login-button>
          
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
  
</body>
</html>
