{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

    <link rel="manifest" href="/manifest.json">

    <title>Document</title> 
</head>
<body>
    
    <!---NAVBAR---> 

    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">PRINCIPAL</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'listado' %}"> LISTADOS</a></li>
                <li><a href="{% url 'tiendas' %}"> TIENDAS</a></li>
                <li><a href="{% url 'tiendas' %}"> PRODUCTOS</a></li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                <li><a href="{% url 'ingresar' %}">INGRESAR</a></li>
                <li><a href="{% url 'registro' %}">REGISTRAR</a></li>
                {% else %}
                    <li><a href="{% url 'salir' %}">SALIR</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <h1 style="text-align: center; color: white;" >Lista de Compras</h1>
    <br>
<!-- Tabla de productos-->
{% if listas %}
    {% for l in listas %}        
    <h4 style="text-align: center; color: white;">{{l.nombre}}</h4>
        <table class="table-fill">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Costo Presupuestado</th>
                        <th>Costo Real</th>
                        <th>Tienda</th>
                        <th>Comentarios</th>
                        <th>Acciones</th>                       
                    </tr>
                </thead>
                <tbody>
                    {% if productos %}
                    <tr>
                        {% for p in productos %}
                        {% if l.nombre == p.nlista %}
                        <td>{{p.nombre}}</td>
                        <td>{{p.costoP}}</td>
                        <td>{{p.costoR}}</td>
                        <td>{{p.tienda}}</td>
                        <td>{{p.notas}}</td>
                        <td><button class="btn btn-default">Editar</button><button class="btn btn-danger">Borrar</button></td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endif %}
                <tfoot>
                    <tr>
                        <th>(Cantidad)</th>
                        <th>($$$)</th>
                        <th>($$$)</th>
                        
                    </tr>        
                </tfoot>
            </table>
            <br>
            
       
    {% endfor %}
{% else %}
    <h1 style="text-align: center; color: white;" >No hay listas creadas</h1>
{% endif %}
<div class="row">
    
    <div class="col-sm-12" style="text-align: center" >
       <button id="btnlistas">Agregar nueva lista</button>
    </div>
    
</div>




<br>

<!-- Tabla de presupuestos-->
<!--
<h1 style="text-align: center; color: white;" >Presupuestos Anuales</h1>
   
        <table class="table-fill">
        <thead>
        <tr>
        <th class="text-left">Mes</th>
        <th class="text-left">Presupuestos</th>
        <th class="text-left">Acciones</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr>
        <td class="text-left">January</td>
        <td class="text-left">$ 50,000.00</td>
        </tr>
        <tr>
        <td class="text-left">February</td>
        <td class="text-left">$ 10,000.00</td>
        </tr>
        <tr>
        <td class="text-left">March</td>
        <td class="text-left">$ 85,000.00</td>
        </tr>
        <tr>
        <td class="text-left">April</td>
        <td class="text-left">$ 56,000.00</td>
        </tr>
        <tr>
        <td class="text-left">May</td>
        <td class="text-left">$ 98,000.00</td>
        </tr>
        </tbody>
        </table>
          <br>
    -->


          <div id="openModalCL" class="modal">
                <div class="modal-content">
                    <a href="#close" title="Close" class="close">X</a>                                      
                    <form action="crear_L" method="POST">
                        {% csrf_token %}
                        <h4>Agregar lista</h4>
                        <label for="Nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre">
                        <button class="btm btn-default"  type="submit">Agregar</button>
                        <a class="btn btn-danger" href="{% url 'listado' %}">Cancelar</a>                      
                    </form>
                </div>
            </div>
        <!--FOOTER-->
       
             
             <footer>
                 <div class="container">
                     <div class="row text-center">
                         <div class="col-md-6 col-sm-6 col-xs-12">
                           <ul class="menu list-inline">
                                  <li>
                                     <a href="#">Home</a>
                                   </li>
                                        
                                   <li>
                                      <a href="#">About</a>
                                   </li>
                                        
                                   <li>
                                     <a href="#">Blog</a>
                                   </li>
                                        
                                   <li>
                                      <a href="#">Gallery</a>
                                   </li>
                                        
                                   <li>
                                     <a href="#">Contact</a>
                                  </li>
                            </ul>
                        </div>
                        
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <ul class="list-inline">
                                 <li>
                                     <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                                 </li>
                                
                                 <li>
                                     <a href="#"><i class="fa fa-dropbox fa-2x"></i></a>
                                 </li>
                                
                                 <li>
                                     <a href="#"><i class="fa fa-flickr fa-2x"></i></a> 
                                 </li>
                               
                                 <li>
                                     <a href="#"><i class="fa fa-github fa-2x"></i></a>
                                 </li>
                                 
                                 <li>
                                     <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                                 </li>
                                 
                                 <li>
                                     <a href="#"><i class="fa fa-tumblr fa-2x"></i></a>
                                 </li>
                                 
                                 <li>
                                     <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                                </li>
                                       
                             </ul>
                         </div>
                    </div> 
                 </div>
             </footer>
             
             <div class="copyright">
                 <div class="container">
                     <div class="row text-center">
                          <p>Copyright © 2017 All rights reserved</p>
                     </div>
                 </div>
             </div>
    
    
    <script>
        var modal = document.getElementById('openModalCL');

        var btn = document.getElementById("btnlistas");

        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
            modal.style.display = "none";
            }
        }  
    </script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>    
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %} "></script>
    <script src="{% static 'js/app.js' %} "></script>   
</body>
</html>